nav.bg-light{
     background-color: #263238;
 }


.page-footer {
    background-color: #263238;
    color: white;
}
hr{
    background-color:#28E5E4;
}

div.jumbotron{
    margin-bottom: 0px;
    border-radius: 0px;
    background-image: url("img/crayon.jpg");
}
p.lead.signbtn {
    text-align: center;
}
a.btn-primary{
    background-color: #263238;
    border-color: #28E5E4;
}

a.btn-primary:hover{
    background-color: #28E5E4;
    border-color: #263238;

}
.btn-outline-success{
    border-color: #28E5E4;
}